@{
    ViewData["Title"] = "About";
}
<div class="row">
    <img class="img-fluid center-block img-responsive" src="~/images/CompoundInterest.png">
</div>

<h3>Where:</h3>
<p>A = the future value of the investment/loan, including interest</p>
<p>P = the principal investment amount (the initial deposit or loan amount)</p>
<p>r = the annual interest rate (decimal)</p>
<p>n = the number of times that interest is compounded per year</p>
<p>t = the number of years the money is invested or borrowed for</p>
<p>
    Note that this formula gives you the future value of an investment or loan, which is compound interest plus the principal. Should you wish to calculate the compound interest only, you need this:
</p>
<p>
    Total compounded interest = P (1 + r/n) (nt) - P
</p>
